<html>
<head>
    <title>Logout Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="font-roboto bg-gray-100" style="background-image: url('https://www.minecraft.net/content/dam/games/minecraft/key-art/MC-Vanilla_Updates-Carousel_Update-Aquatic_800x450.jpg'); background-size: cover; background-position: center;">
    <div class="container mx-auto p-4">
        <div class="bg-blue-900 bg-opacity-75 shadow-md rounded-lg p-6 text-center">
            <h2 class="text-2xl font-bold mb-4 text-white">Anda telah berhasil logout</h2>
            <p class="text-gray-300 mb-6">
                Terima kasih telah menggunakan aplikasi kami. Anda sekarang dapat kembali ke 
                <a href="/home" class="text-blue-300 hover:underline">halaman beranda</a>.
            </p>
        </div>
    </div>
</body>
</html>